<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.BoardMapper">

	<!-- 검색 조건을 나타내는 쿼리 조각 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND title LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
			</if>
			<if test="searchType == 'c'.toString()">
				AND content LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
			</if>
			<if test="searchType == 'w'.toString()">
				AND writer LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
			</if>
			<if test="searchType == 'tc'.toString()">
				AND (title LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
				OR
				content LIKE CONCAT('%', CONCAT(#{keyword}, '%')))
			</if>
			<if test="searchType == 'cw'.toString()">
				AND (content LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
				OR
				writer LIKE CONCAT('%',CONCAT( #{keyword}, '%')))
			</if>
			<if test="searchType == 'tcw'.toString()">
				AND (title LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
				OR
				content LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
				OR writer LIKE
				CONCAT('%', CONCAT(#{keyword}, '%')))
			</if>
		</if>
	</sql>
	<sql id="total_list">
		<if test="searchType == null">
			and rnum between #{sizePerPage}*#{page}-9 and
			#{sizePerPage}*#{page}
		</if>
	</sql>

	<!-- 게시글 등록 처리 -->
	<insert id="register">
		INSERT INTO board(board_no, title, content, writer)
		VALUES(board_seq.NEXTVAL, #{title}, #{content}, #{writer})
	</insert>

	<!-- 게시글 목록 페이지 -->
	<select id="list" resultType="Board">
    <![CDATA[
    SELECT board_no, title, content, writer, reg_date
    FROM ( SELECT board_no, title, content, writer, reg_date, rownum rnum
          FROM ( SELECT board_no, title, content, writer, reg_date FROM board  WHERE board_no > 0
    ]]>
		<include refid="search" />
		ORDER BY board_no DESC
		)
		)
    <![CDATA[
     WHERE board_no > 0 
    ]]>
		<include refid="total_list" />
	</select>

	<!-- 게시글 상세 조회 -->
	<select id="read" resultType="Board">
		SELECT board_no, title, content,
		writer, reg_date FROM board WHERE board_no = #{boardNo}
	</select>

	<!-- 게시글 수정 처리 -->
	<update id="modify">
		UPDATE board SET title =#{title}, content =#{content}
		WHERE board_no = #{boardNo}
	</update>

	<!-- 게시글 삭제 처리 -->
	<delete id="remove">
		DELETE FROM board
		WHERE board_no = #{boardNo}
	</delete>

	<!-- 검색 조건을 추가한다. -->
	<select id="count" resultType="int"> 
	<![CDATA[ 
		SELECT count(board_no) FROM board WHERE board_no > 0 
	]]>
		<include refid="search"></include>
	</select>
</mapper>




